audio {
  width: 100%;
  margin: 1em 0;
}

.videoblock {
	position: relative;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
  height: 0;
  text-align: center;
}

.videoblock iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bloques td img {
  -webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

#bloques td:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.footer-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
  position: relative;
  padding-left: .9375em;
  padding-right: .9375em;

  text-align: center;
}


nav {
  margin: 10px auto;
  max-width: 62.5em;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#checkbox1,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  transition: background .2s linear;
}

@media screen and (max-width: 600px) {
  .menu li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #595959;
    background: #dbdbdb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .1s linear;
  }
  .toggle:hover {
    background: #cecece;
  }
  #checkbox1:checked + label .categorias li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }

  #checkbox1:checked + label .categorias {
    height: 200px;
  }
  .menu {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;
  }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
}

.categorias {
  background: #625b60;
}

.categorias li a {
  color: #fff;
}

.categorias li a:hover {
  background: #6d6268;
}
