<div id="footer">
  <div class="footer-text">
    <a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="./images/license-cc.png" alt="Creative Commons Attribution-ShareAlike 4.0 International License" /></a>
  </div>
</div>