<link rel="icon" type="image/png" href="images/favico.png">
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="assets/css/style.css" />
<meta name="keywords" content="evento,gnu/linux,software libre,free software,podcast"/>
<meta name="author" content="24h24l" />
<meta name="copyright" content="Creative Commons Attribution-ShareAlike 4.0 International License" />
